@media screen and (max-width: 1400px) {
    #profile {
      height: 83vh;
      margin-bottom: 6rem;
    }
    .How-to-Setup-Locally-containers {
      flex-wrap: wrap;
    }
    #Effective-Regions,
    #Training-the-System{
      height: fit-content;
    }
  }
  
  @media screen and (max-width: 1200px) {
    #desktop-nav {
      display: none;
    }
    #hamburger-nav {
      display: flex;
    }
    #Create-Data-Set,
    .Create-Data-Set-details-container {
      margin-top: 2rem;
    }
    #profile,
    .section-container {
      display: block;
    }
    .arrow {
      display: none;
    }
    section,
    .section-container {
      height: fit-content;
    }
    section {
      margin: 0 5%;
    }
    .section__pic-container {
      width: 275px;
      height: 275px;
      margin: 0 auto 2rem;
    }
    .How-to-Setup-Locally-containers {
      margin-top: 0;
    }
  }
  
  @media screen and (max-width: 600px) {
    #Effective-Regions,
    footer {
      height: 40vh;
    }
    #profile {
      height: 83vh;
      margin-bottom: 0;
    }
    article {
      font-size: 1rem;
    }
    footer nav {
      height: fit-content;
      margin-bottom: 2rem;
    }
    .How-to-Setup-Locally-containers,
    .Effective-Regions-info-upper-container,
    .btn-container {
      flex-wrap: wrap;
    }
    .Effective-Regions-info-container {
      margin: 0;
    }
    .Effective-Regions-info-container p,
    .nav-links li a {
      font-size: 1rem;
    }
    .Create-Data-Set-sub-title {
      font-size: 1.25rem;
    }
    .logo {
      font-size: 1.5rem;
    }
    .nav-links {
      flex-direction: column;
      gap: 0.5rem;
      text-align: center;
    }
    
    .profile-pic{
      align-items: abosulute; 
      width: 100px;
      height: 100px;
    }

    .section__pic-container {
      width: auto;
      height: 46vw;
      justify-content: center;
    }
    .section__text__p2 {
      font-size: 1.25rem;
    }
    .title {
      font-size: 2rem;
    }
    .text-container {
      text-align: justify;
    }
  }
  

  @media screen and (max-width: 768px) {
    #Create-Data-Set .create-dataset-image {
        width: 80%; /* Larger image on smaller screens for better visibility */
    }
    
    #Create-Data-Set {
        width: 90%; /* Slightly increase width on smaller screens */
    }
  }