/* GENERAL */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif; /* Modern font */
  background-color: #f4f4f4; /* Light grey background for less strain on eyes */
  color: #333; /* Dark grey for text for better readability */
}

html {
  scroll-behavior: smooth;
}

p {
  color: rgb(85, 85, 85);
}

/* TRANSITION */

a,
.btn {
  transition: all 300ms ease;
}

/* DESKTOP NAV */

nav,
.nav-links,.nav-links-footer {
  display: flex;
}

nav {
  justify-content: space-around;
  align-items: center;
  height: 17vh;
}

.nav-links,.nav-links-footer {
  gap: 2rem;
  list-style: none;
  font-size: 1.5rem;
}

a {
  color: black;
  text-decoration: none;
  text-decoration-color: white;
}

a:hover {
  color: grey;
  text-decoration: underline;
  text-underline-offset: 1rem;
  text-decoration-color: rgb(181, 181, 181);
}

.logo {
  font-size: 2rem;
}

.logo:hover {
  cursor: default;
}

/* HAMBURGER MENU */

#hamburger-nav {
  display: none;
}

.hamburger-menu {
  position: relative;
  display: inline-block;
}

.hamburger-icon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 23px;
  width: 30px;
  cursor: pointer;
}

.hamburger-icon span {
  width: 70%;
  height: 2px;
  background-color: black;
  transition: all 0.3 ease-in-out;
}

.menu-links {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: transparent;
  width: fit-content;
  max-height: 0;
  overflow: hidden;
  transition: all 0.3 ease-in-out;
}

.menu-links a {
  display: block;
  padding: 5px;
  text-align: center;
  font-size: 0.7rem;
  color: black;
  text-decoration: none;
  transition: all 0.3 ease-in-out;
}

.menu-links li {
  list-style: none;
}

.menu-links.open {
  max-height: 300px;
}

.hamburger-icon.open span:first-child {
  transform: rotate(45deg) translate(10px, 5px);
}

.hamburger-icon.open span:nth-child(2) {
  opacity: 0;
}

.hamburger-icon.open span:last-child {
  transform: rotate(-45deg) translate(10px, -5px);
}

.hamburger-icon span:first-child {
  transform: none;
}

.hamburger-icon span:first-child {
  opacity: 1;
}

.hamburger-icon span:first-child {
  transform: none;
}

.arrow {
  position: absolute;
  right: -5rem;
  bottom: 2.5rem;
}
/* SECTIONS */

section {
  padding-top: 4vh;
  height: 96vh;
  margin: 0 10rem;
  box-sizing: border-box;
  min-height: fit-content;
}

.section-container{
    display: flex;
}

/* PROFILE SECTION */

#profile {
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-pic {
    border-radius: 7.5rem;
    box-shadow: 0px 4px 6px rgba(0,0,0,0.12);
    width: 70%;
    display: flex;    
  }

.section_pic-container {
    display: flex;
    height: 400px; 
    width: 400px;
    margin: auto 0;
}

.section_text{
    align-self: center;
    text-align: center;

}

.section__text p {
  font-weight: 600;
}

.section__text__p1 {
  text-align: center;
}

.section__text__p2 {
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 1rem;
}

.title {
  font-size: 3rem;
  text-align: center;
}


#socials-container {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  gap: 1rem;
}

/* ICONS */

.icon {
  cursor: pointer;
  height: 2rem;
}

/* PROFILE BUTTONS */

.btn-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.btn {
  font-weight: 600;
  transition: all 300ms ease;
  padding: 1rem;
  width: 8rem;
  border-radius: 2rem;
}

.btn-color-1,
.btn-color-2 {
  border: rgb(53, 53, 53) 0.1rem solid;
}

.btn-color-1:hover,
.btn-color-2:hover {
  cursor: pointer;
}

.btn-color-1,
.btn-color-2:hover {
  background: rgb(53, 53, 53);
  color: white;
}

.btn-color-1:hover {
  background: rgb(255, 255, 255);
  color: rgb(53, 53, 53);
}

.btn-color-2 {
  background: none;
}

.btn-color-2:hover {
  border: rgb(255, 255, 255) 0.1rem solid;
}


/* How-to-Setup-Locally SECTION */

#How-to-Setup-Locally {
  position: relative;
}

.How-to-Setup-Locally-containers {
  display: flex;
  justify-content: space-evenly; 
  align-items: center; 
  text-align: center;
  flex-wrap: wrap; 
  gap: 20px; 
}

.How-to-Setup-Locally-details-container {
  justify-content: center;
  flex-direction: column;
}

.How-to-Setup-Locally-containers,
.How-to-Setup-Locally-details-container {
  display: flex;
  align-items: center;
}

.How-to-Setup-Locally-pic {
  border-radius: 2rem;
  box-shadow: 0px 4px 6px rgba(0,0,0,0.12);
  margin: 50px;
}


.details-container {
  width: 300px;
  justify-content: space-evenly;
  align-items: center;
  padding: 5px;
  background: rgb(216, 255, 232);
  border-radius: 2rem;
  box-shadow: 0px 4px 6px rgba(0,0,0,0.12);
  margin: 10px;
  text-decoration: none; 
  transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.details-container:hover {
  box-shadow: 0px 8px 15px rgba(0,0,0,0.2); 
  transform: translateY(-5px); 
}

.details-link {
  text-decoration: none; 
  color: inherit; 
  display: block; 
  transition: color 0.3s ease; 
}

.details-link:hover {
  color: #555;
  text-decoration: none;
}

.icon {
  width: 30px;
  height: 30px;
  margin-bottom: 10px; 
}

.details-container h2 {
  margin: 0;
  font-size: 16px; 
  color: #333; 
}

.details-container a, .details-container a:hover {
  text-decoration: none; 
  color: inherit; 
}

.section__pic-container {
  display: flex;
  justify-content: center;
  height: 400px;
  width: 800px;
  margin: 20px;
}
 
.text-container {
  font-size: 1.2rem;
  text-align: center;
  margin: 40px;
}

.title_1 {
  font-size: 1.5rem;
  text-align: center;
}

.back-to-top {
  left: 1rem;
  bottom: 1rem;
  position: absolute;
}



/* Create-Data-Set SECTION */

#Create-Data-Set {
  position: relative;
}

.title_2 {
  font-size: 1.5rem;
  text-align: center;
}


.dataset-image img {
  width: 50%;
  border-radius: 55px;
  box-shadow: 0px 4px 6px rgba(0,0,0,0.12);
  margin: 10px;
}

.dataset-image {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}

.dataset-text {
  margin: 20px 0;
  text-align: center;
}


.dataset-container{
  display: flex;
  justify-content: space-evenly; 
  align-items: center; 
  text-align: center;
  flex-wrap: wrap; 
  gap: 20px; 
}

.dataset-btn{
  width: 500px;
  justify-content: space-evenly;
  align-items: center;
  padding: 5px;
  background: rgb(255, 254, 206);
  border-radius: 2rem;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.12);
  margin: 10px;
  text-decoration: none; 
  transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.dataset-btn:hover {
  box-shadow: 0px 8px 15px rgba(0,0,0,0.2); 
  transform: translateY(-5px); 
}

.dataset-link {
  text-decoration: none; 
  color: inherit; 
  display: block; 
  transition: color 0.3s ease; 
}

.dataset-link:hover {
  color: #555;
  text-decoration: none;
}

.dataset-container h2 {
  margin: 0;
  font-size: 16px; 
  color: #333; 
}

.dataset-container a, .dataset-container a:hover {
  text-decoration: none; 
  color: inherit; 
}

.back-to-top {
  left: 1rem;
  bottom: 1rem;
  position: absolute;
}





/* Training-the-System SECTION */

#Training-the-System {
  position: relative;
  text-align: center;
}

.title_3 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.training-images-container {
  display: flex;
  align-items: center;
  overflow-x: auto;
  gap: 20px;
  padding: 20px 0;
}

.training-image img {
  width: 300px; /* Adjust based on your needs */
  height: auto;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.15);
}

.right-arrow {
  height: 50px; /* Adjust based on your arrow image size */
}

.train-list dt{
  display: flex;
  font-weight: 600;
  margin-top: 20px;

}

.train-list dd {
  margin-left: 17px;
  margin-top: 2px;
  display: flex;
}

.training-container {
  display: flex;
  justify-content: space-evenly; 
  align-items: center; 
  text-align: center;
  flex-wrap: wrap; 
  gap: 20px; 
 
}

.training-btn {
  width: 300px;
  background-color: #e38220;
  border-radius: 2rem;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.12);
  margin: 10px;
  text-decoration: none; 
  transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.training-btn:hover {
  box-shadow: 0px 8px 15px rgba(0,0,0,0.2); 
  transform: translateY(-5px); 
}
.training-link {
  text-decoration: none; 
  color: inherit; 
  display: block; 
  transition: color 0.3s ease; 
}

.train-icon {
  width: 30px;
  height: 30px;
}

.training-link:hover {
  color: #555;
  text-decoration: none;
}
.back-to-top {
  left: 1rem;
  bottom: 1rem;
  position: absolute;
}

/* EFFECTIVE REGIONS SECTION */

#Effective-Regions {
  position: relative;
  text-align: center;
}
.regions-image img {
  width: 50%;
  border-radius: 55px;
  box-shadow: 0px 4px 6px rgba(0,0,0,0.12);
  margin: 10px;
}

.regions-image {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}

.regions-text {
  margin: 20px 0;
  text-align: center;
}

.regions-container {
  display: flex;
  justify-content: space-evenly; 
  align-items: center; 
  text-align: center;
  flex-wrap: wrap; 
  gap: 20px; 
 
}

.regions-btn {
  width: 300px;
  background-color: #ff6377;
  border-radius: 2rem;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.12);
  margin: 30px;
  text-decoration: none; 
  transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.regions-btn:hover {
  box-shadow: 0px 8px 15px rgba(0,0,0,0.2); 
  transform: translateY(-5px); 
}
.regions-link {
  text-decoration: none; 
  color: inherit; 
  display: block; 
  transition: color 0.3s ease; 
}

.regions-link:hover {
  color: #555;
  text-decoration: none;
}

.regions-icon {
  width: 30px;
  height: 30px;
}
.back-to-top {
  left: 1rem;
  bottom: 1rem;
  position: absolute;
}

/* FOOTER SECTION */

footer {
  height: 26vh;
  margin: 0 1rem;
}

footer p {
  text-align: center;
}

.icon-cred{
  display: flex;
  font-size: 0.8rem;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  gap: 2rem;
}

.nav-links-footer{  
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  font-size: 1.0rem;
}
