/* General Styles and Typography */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    scroll-behavior: smooth;
}

p {
    color: rgb(85, 85, 85);
}

a, .btn {
    color: black;
    text-decoration: none;
    transition: all 300ms ease;
}

a:hover {
    color: grey;
    text-decoration: underline;
    text-underline-offset: 1rem;
}

/* Navigation and Menus */
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 17vh;
}

.nav-links {
    display: flex;
    gap: 2rem;
    list-style: none;
    font-size: 1.5rem;
}

.logo {
    font-size: 2rem;
    cursor: pointer;
}

/* Hamburger Menu - Mobile View */
#hamburger-nav {
    display: none;
}

@media (max-width: 768px) {
    #hamburger-nav {
        display: block;
    }

    .nav-links {
        flex-direction: column;
        align-items: center;
    }
}

.hamburger-menu {
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.hamburger-icon span {
    display: block;
    height: 2px;
    background-color: black;
    transition: all 0.3s ease-in-out;
}

.menu-links {
    position: absolute;
    background-color: white;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out;
}

.menu-links.open {
    max-height: 300px; /* Expandable on click */
}

/* Profile Section */
#profile {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    padding: 4vh;
}

.profile-pic {
    border-radius: 50%;
    width: auto;
}

/* Sections General Layout */
section {
    padding: 4vh 10vw;
    min-height: fit-content;
}

.section-container {
    display: flex;
    gap: 4rem;
}

/* Details Containers */
.details-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background: rgb(213, 234, 253);
    border-radius: 2rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

.details-container:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}

/* Buttons and Icons */
.btn {
    padding: 1rem;
    width: 8rem;
    border-radius: 2rem;
    border: 1px solid #333;
    background: none;
    cursor: pointer;
}

.btn:hover {
    background: #333;
    color: white;
}

.icon {
    height: 2rem;
    cursor: pointer;
}

/* Footer */
footer {
    padding: 20px 0;
    text-align: center;
    background-color: #333;
    color: white;
}
